@import "~antd/dist/antd.css";

.contact-block {
  margin: 0 auto;
  max-width: 1080px;
  padding: 10px;
  background-color: #f9f9f9;

  .search-group {
    display: flex;
    flex-direction: row;

    .input {
      flex: 1;
    }

  }
}
